.choose-wrap {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 20px;
    h3 {
        font-size: 2.5rem;
        @include tablet {
            font-size: 2rem
        }
        @include mobile {
            font-size: 1.6rem;
            text-align: center;
            width: 100%;
            margin-bottom: 10px;
        }
    }
    .hr {
        width: 5%;
        height: 5px;
        margin-top: -5px;
        margin-bottom: 10px;
        background-color: getColor(color03);
        @include mobile {
            width: 20%;
            margin-top: -5px;
            margin-inline: auto;
        }
    }
   .choose-bottom {
    align-self: center;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    @include tablet {
        width: 100%;
    }
    @include mobile {
        flex-wrap: wrap;
        row-gap: 20px
    }
    .choose-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        @include mobile {
            width: 100%;
        }
        .choose-item-circle {
            background-color: getColor(color09);
            padding: 20px;
            border-radius: 50%;
            div {
                background-color: getColor(color03);
                padding: 10px;
                border-radius: 50%;
                img {
                    width: 60px;
                    object-fit: cover;
                    aspect-ratio: 1/1;
                }
            }
        }
        p {
            text-align: center;
            font-size: 16px;
            font-weight: 500;
        }
    }
} 
}
