.homeservices {
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
    background-color: getColor(color03);
    margin-top: 20px;
    height: 70vh;
    overflow: hidden;
    background-image: url('../assets/img1.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(200deg, rgba(31, 38, 53, 0.8), rgba(83, 99, 134, 0.8));
        z-index: 1;
    }
    @include tablet {
        height: initial;
    }
    @include mobile {
        flex-direction: column-reverse;
        padding: 20px 20px 1px 20px;
        gap: 40px;
    }
    .homeservices-img {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 9;
        @include mobile {
            width: 100%;
            height: 40vh;
        }
        img {
            width: 80%;
            height: 80%;
            object-fit: cover;
            aspect-ratio: 1/1;
            @include mobile {
                width: 100%;
            }
        }
    }
    .homeservices-itemswrap {
        width: 50%;
        z-index: 9;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        gap: 20px;
        @include mobile {
            width: 100%;
        }
        h3 {
            font-size: 2.5rem;
            color: getColor(color02);
            @include tablet {
                font-size: 2rem
            }
            @include mobile {
                font-size: 1.6rem
            }
        }
        .hr {
            width: 10%;
            height: 5px;
            margin-top: -10px;
            background-color: getColor(color06);
            @include mobile {
                width: 20%;
            }
        }
        .homeservices-items {
            width: 100%;
            display: flex;
            justify-content: start;
            align-items: center;
            flex-wrap: wrap;
            row-gap: 15px;
            margin-top: 10px;
            @include mobile {
                column-gap: 15px;
                row-gap: 40px;
                padding-left: 10px;
            }
            div {
                width: 33%;
                @include mobile {
                    width: 46%;
                }
                img {
                    width: 60px;
                    @include mobile {
                        width: 40px;
                    }
                }
                p {
                    font-size: 16px;
                    font-weight: 500;
                    color: getColor(color02);
                    white-space: nowrap;
                }
            }
        }
    }
}