@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,200;1,700;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    // outline: 1px solid red;
}

// Function
@function getColor($key){
    @return map-get($colors, $key);
}

//Variable
$colors:(
    color01: #000000,
    color02: #ffffff,
    color03: #322653,
    color04: #8062D6,
    color05: #E9F8F9,
    color06: #c5caf8,
    color07: #003cff,
    color08: #b9b9b9,
    color09: #f5f8f2,
);

// Mixin
@mixin mini-mobile{
    @media (max-width: 490.1px){
        @content;
    }
}
@mixin mobile{
    @media (max-width: 660.1px){
        @content;
    }
}
@mixin tablet{
    @media (max-width: 960.1px){
        @content;
    }
}

//Keyframes
@keyframes fade-up {
    0% {
        opacity: 0;
        transform: translateY(30px) scale(0.9);
    }
    100% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

@keyframes grow {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(1.2);
    }
}