.reviews-wrapper {
    background-color: getColor(color01);
    color: getColor(color02);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 30px;
    padding: 20px;
    h3 {
        font-size: 2.5rem;
        @include tablet {
            font-size: 2rem
        }
        @include mobile {
            font-size: 1.6rem
        }
    }
    .hr {
        width: 5%;
        height: 5px;
        margin-top: -20px;
        background-color: getColor(color04);
        @include mobile {
            width: 20%;
        }
    }
    .reviews {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        @include tablet {
            flex-wrap: wrap;
            justify-content: start;
            gap: 20px;
        }
        @include mobile {
            justify-content: center;
        }
        .reviews-item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
            border: 1px solid getColor(color08);
            border-radius: 10px;
            padding: 5px;
            @include tablet {
                width: 45%;
            }
            @include mobile {
                width: 100%;
            }
            h4 {
                font-size: 1.4rem;
                margin-bottom: 10px;
                @include tablet {
                    font-size: 1.2rem
                }
                @include mobile {
                    font-size: 1rem
                }
            }
            .reviews-star {
                display: flex;
                gap: 3px;
                img {
                    width: 15px;
                }
            }
            p {

            }
        }
    }

}